.car{
    width: 20%;
    height: auto;
}
.banner-carousel{
    background-color:#08b80e1c ;
}
.halfwidth{
    width: 50%;
}
.dividerStyle{
    width: 100px;
    height: 2px;
}
.avatar{
  border-radius: 50%;  
  height:150px ;
  width: 150px;
}

@media screen and (max-width:991px) {
    .halfwidth{
        width: 100%;
    }
}