.car{
    width: 20%;
    height: auto;
}
.banner-carousel{
    background-color:#08b80e1c ;
}
.halfwidth{
    width: 50%;
}
.dividerStyle{
    width: 100px;
    height: 2px;
}


@media screen and (max-width:991px) {
    .halfwidth{
        width: 100%;
    }
}